#about {
	.wrap {
		.columns {
			overflow:hidden;

			.column {
				width:31.6%;
				margin:0 1.25%;
				float:left;

				h2 {
					font-family:'Roboto Slab Bold';
					font-size:1.285em;
				}

				p {
					margin-top:10px;
					text-align:justify;
				}

				&:first-child {
					margin-left:0;
				}
				&:last-child {
					margin-right:0;
				}
			}
		}
	}
}


/* ----------------------------------------------------------------------------------------------------------- */
/* --------------------------------------- MEDIAQUERY : MEDIUM SCREEN ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

@media #{$query-tablet} {
}


/* ----------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- MEDIAQUERY : SMALL SCREEN ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

@media #{$query-phone} {

	#about {
		.wrap {
			.columns {
				.column {
					width:100%;
					margin:0 0 20px 0;
					float:none;

					&:last-child {
						margin-bottom:0;
					}
				}
			}
		}
	}
}