#getting-started {

	p {
		margin-bottom:20px;
	}

	iframe {
		width:100%;
		background:#fff;
	}
}


/* ----------------------------------------------------------------------------------------------------------- */
/* --------------------------------------- MEDIAQUERY : MEDIUM SCREEN ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

@media #{$query-tablet} {
}


/* ----------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- MEDIAQUERY : SMALL SCREEN ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

@media #{$query-phone} {
}