/* Colors */
$color-gray-light:#808080;
$color-gray-dark:#333;
$color-red-light:#b82329;
$color-red-dark:#7f0d15;

/* Media Queries */
$query-tablet:'screen and (max-width:1024px)';
$query-phone:'screen and (max-width:768px)';