    <link rel="icon" type="image/png" href="<%= data.meta.favicon %>">
    <meta name="description"        content="<%= data.meta.description %>" />    
    <meta name="keywords"           content="<%= data.meta.keyword %>" />
    <meta property="og:title"       content="<%= data.meta.og.title %>"/>
    <meta property="og:type"        content="<%= data.meta.og.type %>"/>
    <meta property="og:image"       content="<%= data.meta.og.image %>"/>
    <meta property="og:site_name"   content="<%= data.meta.og.site_name %>"/>
    <meta property="og:url"         content="<%= data.meta.og.url %>"/>
    <meta property="og:description" content="<%= data.meta.description %>"/>