<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title><%= data.meta.title %></title>    
<%= render("head.t.html") %>    
</head>
<body>
    
    <link rel="stylesheet" href="css/home.css">
    
    <script src="js/analytics.js"></script>
    
    <div class="content">
        <section class="home">
        
        <div class="logo"></div>    
        <p class="caption">A comfortable framework.</p>    
        
        </section>
        
        <section class="about">
        
        </section> 
        
        <section class="footer">
        
        </section>                
    </div>    
        
</body>
</html>